:root{
    --salmon:#EF9D71;
    --balck:#000;
    --white:#fff;
    --cyan: #aedee0;
    --dsalmon:rgb(80, 12, 4);
    --dcyan:rgb(33, 34, 34);

}

body{
    transition: background-color ease-out .5s;
}




.vdodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}


*::selection{

    background-color: var(--salmon) ;

}





body[theme="black"]{

    background-color: var(--balck);

}

body[theme="black"] .section{

    color:var(--white) ;

}

body[theme="cyan"]{

    background-color: var(--cyan);
}

body[theme="cyan"].section{

    color:var(--dcyan);
}



body[theme="salmon"]{

    background-color: var(--salmon);

}

body[theme="salmon"].section{

    color: var(--dsalmon);
}

body[theme="white"]{

    background-color:var(--white);

}
body[theme="white"].section{

    color: var(--balck);
}
